@import url(http://fonts.googleapis.com/css?family=Lato:300);
body {
  font-family: 'Lato', sans-serif;
  background: url('../images/background.png');
  margin: 0px;
  padding: 0px;
  color: #111111;
}
.small-caps {
  font-variant: small-caps;
}
.ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.boxsizing {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.flex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
#header {
  height: 50px;
  background: #007aff;
  padding: 0px 50px;
  margin: 0px;
  /*position:fixed;
  top:0;
  right:0;
  left:0;
  z-index:1;*/
  box-shadow: 0px 0px 5px #919191;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
}
#header a {
  color: #fefefe;
  text-decoration: none;
}
#header .title {
  color: #fefefe;
  font-size: 24px;
  line-height: 50px;
}
#header .menu {
  color: #fefefe;
  font-size: 18px;
  line-height: 50px;
}
#header .menu .separator {
  display: inline-block;
  width: 0px;
  margin: 0px 10px;
}
#footer {
  text-align: center;
  margin: 5px;
}
#container #user-box {
  background: #FFF;
  border: 1px solid #CCC;
  margin: 50px auto;
  padding: 0px;
  text-align: left;
  width: 80%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
#container #user-box img {
  height: 300px;
  padding: 0px;
  margin: 0px;
  width: 100%;
  max-width: 300px;
}
#container #user-box a {
  color: #111111;
  text-decoration: none;
}
#container #user-box a:hover {
  text-decoration: underline;
}
#container #user-box a.topic {
  margin-left: 0.333em;
}
#container #user-box #description {
  margin-left: 10px;
  padding: 10px 0px;
}
#container #user-box #description h2,
#container #user-box #description h3,
#container #user-box #description h4 {
  margin: 3px;
}
#container .suggestions {
  background: #FFF;
  border: 1px solid #CCC;
  margin: 50px auto;
  padding: 10px 0px;
  text-align: center;
  width: 80%;
}
#container .suggestions h2 {
  font-weight: 300;
  font-size: 1.1em;
  margin: 0px;
  padding: 0px;
}
#container .suggestions .no-content {
  height: 50px;
  line-height: 50px;
}
#container .suggestions .suggestions-video {
  -webkit-transition: background-color 0.4s;
  -moz-transition: background-color 0.4s;
  -ms-transition: background-color 0.4s;
  -o-transition: background-color 0.4s;
  vertical-align: top;
  width: 300px;
  height: 200px;
  display: inline-block;
  margin: 18px 4px 0px 4px;
  border: 1px solid #EEE;
  overflow: hidden;
}
#container .suggestions .suggestions-video .thumbnail {
  background-color: #000;
  width: 100%;
  font-size: 0px;
  display: inline-block;
}
#container .suggestions .suggestions-video .thumbnail img {
  -webkit-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  -ms-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  width: 100%;
  opacity: 0.5;
  height: 150px;
}
#container .suggestions .suggestions-video .title {
  display: inline-block;
  width: 290px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
#container .suggestions .suggestions-video a {
  text-decoration: none;
  color: #111111;
  -webkit-transition: color 0.4s;
  -moz-transition: color 0.4s;
  -ms-transition: color 0.4s;
  -o-transition: color 0.4s;
}
#container .suggestions .suggestions-video a:hover {
  text-decoration: underline;
}
#container .suggestions .suggestions-video .details {
  display: inline-block;
  width: 290px;
  font-size: 0.8em;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
#container .suggestions .suggestions-video .details .separator {
  background: #444444;
  width: 4px;
  height: 4px;
  display: inline-block;
  margin: 0px 5px;
  border-radius: 2px;
  vertical-align: middle;
}
#container .suggestions .suggestions-video:hover {
  background-color: #FEFEFE;
}
#container .suggestions .suggestions-video:hover .thumbnail img {
  opacity: 1.0;
}
#container .suggestions .suggestions-video:hover a {
  color: #0750a0;
}
#container .suggestions .suggestions-video:hover a:hover {
  color: #111111;
}
