- var signedIn = false;
#header
  a.title(href='home.html') Insert Logo Here
  .menu
    a(href='home.html') Home
    .separator
    a(href='video.html') Streams
    .separator
    a(href='profile.html') Account
    .separator
    a(href='home.html')= signedIn ? "Sign Out" : "Sign In"
